*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 10vh;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-menu{
    display: flex;
    flex-direction: row;
    height: 10%;
}

.curiosidade-menu{
    display: flex;
    flex-direction: column;
    height: 10%;
}

footer{
    position: fixed;
    bottom: 0;
}

