<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de cores</title>
</head>
<body>
    <form action="/post/cadastrarcores" method="post" style="display: flex;">
        <textarea name="cor" id="" style="width: 50vw; height: 5vh; margin: 16px;">CORES</textarea>
        <button type="submit" class="btn-submit" style="height: 5vh; margin: 16px;">CADASTRAR</button>
    </form>
    {%for cor in cores_html%}
        <div style="width: 50vw; height: 5vh; background-color: {{cor}}; margin: 16px;">
            <span>
                {{cor}}
            </span>
        </div>  
    {% endfor %}
</body>
</html>