<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de cores</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
</head>
<body>
    <form action="/post/cadastrarcores" method="post" style="display: flex;">
        <textarea name="cor" id="" style="width: 50vw; height: 5vh; margin: 16px;">CORES</textarea>
        <button type="submit" class="btn-submit" style="height: 5vh; margin: 16px;">CADASTRAR</button>
    </form>
    {%for cor in cores_html%}
        <div style="width: 50vw; height: 5vh; background-color: {{cor}}; margin: 16px;">
            <span>
                {{cor}}
            </span>
            <!-- Loop cria um loop começando pelo indice 0 -->
            <a href="/cadastroCores/delete/{{loop.index0}}">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </a>
        </div>  
    {% endfor %}
</body>
</html>